html {
    font-size: 16px;
}

* {
    font-family: 'Cormorant Garamond', serif;
}

/*Nav section*/
header {
    height: 150px;
    overflow: hidden;
    background-image: url(Images/michelin3.webp);
    background-position: bottom;
    background-size: cover;
}


nav {
    background-color: rgb(58, 56, 56);
    color: rgb(255, 241, 223);
    height: 50px;
}


.nav {
    display: flex;
}

nav li {
    display: inline-block;
    margin: 0 10px;

}

.nav a {
    text-decoration: none;
    color: white;
}
a:hover {
    font-weight: bold;
    cursor: pointer;
}

nav ul {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.title {
    padding: 10px;
    margin: 0
}

/*main*/
.midSection {
    display: flex;
}

.midsection>article {
    width: 50%;
}

.mainText {
    padding: 20px;
}

.mainImage {
    width:50%;
    margin: 20px;
    padding: 30px;
}
.mainImage img {
    max-width: 400px;
}

/*landing page*/
button {
    font-size: 1.5rem;
    padding: 3px;
}
.button {
    text-align: center;
    margin: 20px;
}

/*footer*/
footer {
    display: flex;
    background-color: rgb(58, 56, 56);
    color: rgb(255, 241, 223);
    height: 200px;
}

.footer {
    padding: 20px;
    margin: 0 auto;
}

/*Contact us columns*/
.column {
    float: left;
    width: 30%;
    left padding: 10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Booking form*/
.form {
    line-height: 2em;
    margin-left: 25%;
}

fieldset {
    width:35%
}

/*Thank you page*/
.thankyoumain {
    text-align: center;
}

/*Menu Page*/
.main {
    width: 1170px;
    margin: 100px auto;
}
.single-menu img {
      max-width: 200px;
    max-height: 200px;
    object-fit: scale-down;
}
.section-title {
    text-align: center;
    margin-bottom: 80px;
    position:relative;
    display:inline-block;
    font-size: 24px;
}
.menu {
display:flex;
justify-content: space-between
flex-wrap: wrap;
}

.menu-column {
    width:33.3%;
}

.menu-column h3 {
    text-transform:capitlize;
    text-align: float;
    font-size: 40px;
    font-weight: 500px;
margin-bottom: 20px;
}

.single-menu {
    display:flex;
    align-items: center;
    margin-right: 21px;
}
.single-menu img {
    border-radius: 50%;
    max-width:200px;
    border: 1px dashed #ddd;
    padding: 3px;
    margin-right: 50px;
    transition: .3s;
}
.single-menu .menu-content {
    font-size: 20px;
    font-weight: 100;

}
.single-menu .menu-content h4 {
    font-size: 20px;
    font-weight: 300px;

}
.single-menu:hover img {
    transform:rotate(360 deg);

}

/*Responsiveness*/

/*phones*/
@media only screen and (max-width: 420px) {
    h1 {
        font-size: 1.5rem;
    }
    nav a {
        font-size: 0.8rem;
        padding: 5px;
    }
    nav li {
        margin: 0 3px;
    }
    button {
        font-size: 0.8rem;
        padding: 1px;
    }
    .button {
        text-align: center;
        margin: 5px;
    }
    .midSection {
        display: block;
    }

    .mainImage {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
   
    .mainImage img {
        max-width: 300px;
    }

    .mainText {
        padding: 5px;
        margin: 5px;
    }

    footer {
       font-size: 0.7rem;
        margin: 5px;
        justify-content: center;
    }
    .footer {
        padding: 3px;
        margin: 3px;
    }
    fieldset {
        width: 100%;
        margin: 10px auto;
    }
}

/*medium size screens*/
@media only screen and (min-width: 1000px) and (max-width: 1499px) {
    h1 {
        font-size: 2.5rem;
    }
    nav a {
        font-size: 2rem;
        padding: 30px;
    }
    nav {
        height: 80px;
    }
    p {
        font-size: 1.8rem;  
    }
    .mainText h2 {
        font-size: 2rem;
    }
    .mainText {
        margin: 30px;
        padding: 20px;
    }
}

/*large screens*/
@media only screen and (min-width: 1500px) {
    h1 {
        font-size: 3rem;
    }
    nav a {
        font-size: 2.5rem;
        padding: 30px;
    }
    nav {
        height: 80px;
    }
    p {
        font-size: 2rem;
    }
    .mainText h2 {
        font-size: 2rem;
    }
    .mainText {
        padding: 150px;
    }
    .midSection {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .mainImage img {
        max-width: 600px;
    }
    footer {
        height: 300px;
    }
}
